@{
    ViewData["Title"] = "Home Page";
}
@Model = Movie; 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach(var listing in Model.Movies)
        {
            <li>listing.Title</li>
        }
    </ul>
</div>
