
@model MovieListings;

<div>
    <a class="nav-link button" asp-controller="MovieListing" asp-action="NewListingPage">New Listing</a>
    
</div>
<div class="text-center">
    <h3>Movie Listingssssssss</h3>
    <ul>
        @{ foreach (var movie in Model.Listings)
            {
                <li>@movie.Title</li>
            }
        }

    </ul>
</div>