
@model MovieListings;

<div>
    <button onclick="location.href = '@Url.Action("NewListingPage", "MovieListing")';return false;">New Listing</button>
    
</div>
<div class="text-center">
    <h3>Movie Listingssssssss</h3>
    <ul>
        @{ foreach (var movie in Model.Listings)
            {
                <li id="@movie.Id" class="movie-info-item">@movie.Title</li>
            }
        }

    </ul>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>