@model Movie;

<div class="text-center">
    <table class="justify-content-md-center">
        <tr>
            <td>Title:</td>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>
                <img src="@Model.ThumbnailRef" />
            </td>
        </tr>
    </table>
    
</div>